body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.container {
    width: 1440px;
    
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.sidebar {
    width: 86px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #053462;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s;
    z-index: 1000;
}

.sidebar.expanded {
    width: 166px;
}

.sidebar img {
    width: 30px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
}

.menu-item {
    width: 100%;
    position: relative;
    top: 50px;
    left: 8px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s;
}

.icon {
    width: 30px;
    transition: all 0.3s;
}

.icon-text {
    display: none;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    opacity: 0.5;
}

.sidebar.expanded .icon-text {
    display: inline-block;
}

#menu-icon.slide-out {
    left: 45px; /* Adjust this value to match the expanded sidebar width */
}

.header-buttons {
    margin-left: 100px; /* Untuk memberikan jarak dari sidebar */
    margin-top: 64px;
}

.header-buttons .button {
    display: inline-block;
    height: 34px;
    background: white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    line-height: 34px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 0 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-buttons .button img {
    vertical-align: middle;
    margin-right: 10px;
}

.header-buttons .tambah {
    background: #FBC906;
}

.header-buttons .pilih {
    background: white;
}

.header-buttons .hapus {
    background: #ffffff;
    color: black;
}

.header-buttons .perbarui {
    background: white;
    color: black;
}

.search-bar {
    width: calc(100% - 140px); /* Sesuaikan dengan lebar sidebar */
    height: 42px;
    background: #FFD205;
    border-radius: 10px 10px 0 0;
    margin: 20px 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: relative;
    top: 18px;
    margin-left: 114px;
}

.search-bar .input {
    width: 79px;
    height: 20px;
    position: absolute;
    left: 90%;
    background: white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    line-height: 20px;
    font-size: 10px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search-bar .input img {
    width: 15px;
    height: 15px;
    margin-left: 0px;
}

.search-bar .input .text {
    margin-left: 10px;
}

.asset-table {
    width:  calc(100% - 118px);
    background: #F2F2F2;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 114px;
}

.asset-table thead {
    background-color: #063462;
    color: white;
}

.asset-table thead th {
    padding: 12px;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}

.asset-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.asset-table tbody tr:hover {
    background-color: #f1f1f1;
}

.asset-table tbody td {
    padding: 12px;
    font-size: 11px;
    color: #333;
}

.asset-table .actions {
    text-align: center;
}

.asset-table .actions a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

.asset-table .actions button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.asset-table .actions button:hover {
    background-color: #c82333;
}

/* add-asset */

